* {
    box-sizing: border-box;
    margin: 0;
}
.wrapper {
    position: relative;

    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}
.circle {
    width: 15%;
    height: 15%;
    border-radius:50%;

    background-color: #ff004c;
}
.circle__top--left {
    position: absolute;
    left: 30%;
    top: 20%;
    z-index: 1;
}

.circle__top--right {
    position: absolute;
    right: 30%;
    top: 20%;
    z-index: 1; 
}
.circle__bottom--left {
    position: absolute;
    left: 30%;
    top: 40%;
    z-index: 1; 
}
.circle__bottom--right {
    position: absolute;
    right:30%;
    top: 40%;
    z-index: 1;
}
.rectangle__big {
    position: absolute;
    left: 40%;
    top: 28%;
    z-index: 2;

    width: 20%;
    height: 20%;

    background-color:#fa66d3;
}
.rectangle__small {
    position: absolute;
    left: 45%;
    top: 33%;
    z-index: 3;
    border-radius:10%;

    width: 10%;
    height: 10%;

    background-color:#00e1ff;
}
.rectangle__big:hover {
    background-color:rgb(0, 255, 136);
    z-index: 4;
}
.circle__top--left:hover {
    background-color:rgb(255, 94, 0);
    z-index: 2;
}
.circle__top--right:hover {
    background-color:rgb(255, 251, 0);
    z-index: 2;
}
.circle__bottom--left:hover {
    background-color:rgb(102, 255, 0);
    z-index: 2;
}
.circle__bottom--right:hover {
    background-color:rgb(255, 0, 0);
    z-index: 2;
}